<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <%= form_tag("/login") do %>
      <div class="form users-form">
        <div class="form-body">
          <% if @error_message %>
            <div class="form-error">
              <%= @error_message %>
            </div>
          <% end %>
          
          <div class="form-group">
            <%= label_tag "user_email", "メールアドレス" %>
            <%= text_field :users, :email, id:"user_email", value: @email %>
          </div>
          <div class="form-group">
            <%= label_tag "user_password", "パスワード" %>
            <%= password_field :users, :password, id:"user_password", value: @password %>
          </div>
          <%= submit_tag "ログイン" %>
        </div>
      </div>
    <% end %>
  </div>
</div>