<div class="main posts-index">
  <div class="container">
    <% if @posts.empty? %>
      <div class="empty_users">
        <p>まだ投稿がないようだ…</p>
        <p><%= link_to("まずは気になるユーザーをフォローしてみましょう", "/users") %></p>
      </div>
    <% else %>
      <% @posts.each do |post| %>
        <div class="posts-index-item">
          <% unless post.retweets.empty? %>
            <div class="retweet-user">
              <!--retweetテーブルからpostに対応するpost_idを探し、対応するユーザー名を表示する-->
              <%= link_to("#{User.order(created_at: :desc).joins(:retweets).find_by(retweets: {post_id: post.id}).name}さんがリツイート", "/users/#{User.order(created_at: :desc).joins(:retweets).find_by(retweets: {post_id: post.id}).id}") %>
            </div>
          <% end %>
          <div class="post-left">
            <%= image_tag "/user_images/#{post.user.image_name}" %>
          </div>
          <div class="post-right">
            <div class="post-user-name">
              <%= link_to(post.user.name, "/users/#{post.user.id}") %>
            </div>
            <%= link_to(line_break(post.content), "/posts/#{post.id}") %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
