<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <%= image_tag "/user_images/#{@user.image_name}" %>
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p><%= line_break(@post.content) %></p>
      <div class="post-time">
        <%= @post.created_at.to_s(:datetime_jp) %>
      </div>
      <div class="post-show-bottom">
        <div class="post-icons">
          <div class="post-icons-item">
            <% if Retweet.find_by(user_id: @current_user.id, post_id: @post.id) %>
              <%= link_to("/retweets/#{@post.id}/destroy", method: :post) do %>
                <span class="fas fa-retweet retweet-btn-unretweet"></span>
              <% end %>
            <% else %>
              <%= link_to("/retweets/#{@post.id}/create", method: :post) do %>
                <span class="fas fa-retweet retweet-btn"></span>
              <% end %>
            <% end %>
            <%= @retweets_count %>
          </div>
          <div class="post-icons-item">
            <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
              <%= link_to("/likes/#{@post.id}/destroy", method: :post) do %>
                <span class="fa fa-heart like-btn-unlike"></span>
              <% end %>
            <% else %>
              <%= link_to("/likes/#{@post.id}/create", method: :post) do %>
                <span class="fa fa-heart like-btn"></span>
              <% end %>
            <% end %>
            <%= @likes_count %>
          </div>
        </div>
        <% if @current_user.id == @post.user_id %>
          <div class="post-menus">
            <%= link_to("編集", "/posts/#{@post.id}/edit") %>
            <%= link_to("削除", "/posts/#{@post.id}/destroy", method: :post) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>